/*sobrescrito pelo normalize*/
*{
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}



html{
    background-color: #fff;
    color: #555;

    /*caso nao consiga baixar, acessa a arial, se não pega qualquer uma da familia sans-serif*/
    font-family: 'Lato', 'Arial', sans-serif;

    font-weight: 300;

    /*Optimiza o load ou a leigibilidade da fonte*/
    text-rendering: optimizeLegibility;


    font-size: 21px;

}

/*Header*/

header{

    height: 100vh;

    background-image: linear-gradient(rgba(0,0,0, 0.1), rgba(0,0,0, 0.9)), url(img/img-hero-header.jpg);

    background-size: cover;
    background-position: center;

    /*
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    */

}


header nav{
    margin-top: 20px;
    position: absolute;

    width: 100vw;

    display: flex;
    justify-content: space-around;
}

header .logo{
    width: 100px;
    float: left;
    margin-left: 10px;
    /*Pra tirar efeito de borda*/
    border: solid 5px transparent;

   



}

header .logo:hover{

    transition: border 0.3s, margin-top 0.3s;
    border: solid 5px black;
    
}

header a{
    text-decoration: none;
    color: white;
    font-family: 'Lato';
    font-weight: 400;   
    word-spacing: 5px;
    padding-bottom: 8px;

}

.main-nav{
    text-decoration: none;
    list-style: none;

    width: 70%;

    display: flex;
    justify-content: space-around;
    align-items: center;

}

.main-nav li a:hover,
.main-nav li a:active{
    border-bottom: solid 2px #faa65d;
    transition: border-bottom 0.2s;


}

h1{
    color: #fff ;
    margin: 0;
    text-transform: uppercase;
    font-weight: 400;

    
    /*Afastar as palavras*/
    word-spacing: 15px;
    letter-spacing: 1px;

    margin-bottom: 20px;
}

.hero-text-box{
    position: absolute;
    top: 40%;
    left: 2%;
}

/*os dois estados do link
link = ainda nao clicado
visited = após clique*/
.btn:link, 
.btn:visited{
    border: solid 2px rgb(194, 126, 0);
    border-radius: 20px;

    padding: 7px 15px;

    font-weight: 400;

    margin-right: 15px;

    /*Transicao suave nas transicoes de cores*/
    transition: background-color 0.2s, border 0.2s, color 0.2s;

}

.btn-full{
    background-color: rgb(179, 117, 0);
    color: white;
}

/*hover = mouse em cima, active = mouse clicando*/
.btn-full:hover, .btn-full:active{
    background-color: rgb(255, 166, 0);

}

.btn-ghost{
    color:  rgb(179, 117, 0);
    
}

.btn-ghost:hover, .btn-ghost:active{
    background-color:  rgb(179, 117, 0);
    color: white;
    
}
