/*sobrescrito pelo normalize*/
*{
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}



html{
    background-color: #fff;
    color: #555;

    /*caso nao consiga baixar, acessa a arial, se não pega qualquer uma da familia sans-serif*/
    font-family: 'Lato', 'Arial', sans-serif;

    font-weight: 300;

    /*Optimiza o load ou a leigibilidade da fonte*/
    text-rendering: optimizeLegibility;


    font-size: 21px;



        scroll-behavior: smooth;
      
}

/*Header*/

header{

    height: 100vh;

    background-image: linear-gradient(rgba(0,0,0, 0.1), rgba(0,0,0, 0.9)), url(img/img-hero-header.jpg);

    background-size: cover;
    background-position: center;

    /*
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    */

}


header nav{
    top: 20px;
    position: absolute;

    width: 97vw;

    display: flex;
    justify-content: space-around;

    max-width: 1000px;
}

header .logo{
    width: 100px;

    margin-left: 10px;
    /*Pra tirar efeito de borda*/
    border: solid 5px transparent;

}

header .logo:hover{

    transition: border 1s;
    border: solid 5px black;
    
}

header a{
    text-decoration: none;
    color: white;
    font-family: 'Lato';
    font-weight: 400;   
    word-spacing: 5px;
    padding-bottom: 8px;

    

}

.main-nav{
    text-decoration: none;
    list-style: none;

    width: 70%;

    display: flex;
    justify-content: space-around;
    align-items: center;

    display: block;
    visibility: hidden;
}


.main-nav li a{
    font-size: 0.8rem;

}

.main-nav li a:hover,
.main-nav li a:active{
    border-bottom: solid 2px #faa65d;
    transition: border-bottom 0.2s;
}

h1{
    color: #fff ;
    margin: 0;
    text-transform: uppercase;
    font-weight: 400;

    
    /*Afastar as palavras*/
    word-spacing: 15px;
    letter-spacing: 1px;

    margin-bottom: 20px;
}

.hero-text-box{
    position: absolute;
    top: 40%;
    left: 2%;
}

/*os dois estados do link
link = ainda nao clicado
visited = após clique*/
.btn:link, 
.btn:visited{
    border: solid 2px rgb(194, 126, 0);
    border-radius: 20px;

    padding: 7px 15px;

    font-weight: 400;

    margin-right: 15px;

    /*Transicao suave nas transicoes de cores*/
    transition: background-color 0.2s, border 0.2s, color 0.2s;

}

.btn-full{
    background-color: rgb(179, 117, 0);
    color: white;
}

/*hover = mouse em cima, active = mouse clicando*/
.btn-full:hover, .btn-full:active{
    background-color: rgb(255, 166, 0);

}

.btn-ghost{
    color:  rgb(179, 117, 0);
    
}

.btn-ghost:hover, .btn-ghost:active{
    background-color:  rgb(179, 117, 0);
    color: white;
    
}

.section-features{
    margin: 20px 10%;
    color: #555;
    font-weight: 400;

}

.section-features p{
    font-weight: 500;
}

.section-features>div>h2,
.section-features>div>p{
    text-align: center;
    margin-bottom: 20px;
}

.section-features .pitch{
    margin: 20px 0;
}


.section-features .features{
    margin-top: 40px;
}
.section-features ion-icon{

    color: orange;
    font-size: 1.2rem;
}

.section-features h2::after{
    content: "     ";
    height: 2px;
    width: 100px;
    display: block;
    background-color: orange;
    margin: 0px auto;
    margin-top: 15px;
}

.section-features .long-copy{
    width: 70%;
    margin: 0 auto;
    line-height: 1.5rem;
}


/* Imagens */
.images-showcase {
    list-style: none; /*Retira marcadores*/
    width: 100%; /*a lista agora ocupa toda largura da tela*/
}


.images-showcase li{
    display: block; /*permite outros elementos ao lado*/
    float: left; /*Faz com que os elementos sejam colocados lado a lado*/
    width: 25%; /*cada item da lista terá 25% de largura em relação a tela... 100/4*/
    overflow: hidden;
}


.photo {
    width: 100%;
    margin: 0;
    overflow: hidden;

    /* efeitos */
    background-color: #000;
}

.photo img {
    width: 100%;
    height: auto; /*para não desfigurar a imagem*/
    transform: scale(1.25);
    transition: transform 0.5s, opacity 0.5s;

    /* efeitos */
    opacity: 0.7;    
}

.photo img:hover {
    transform: scale(1.1);
    opacity: 1;


}


.mobile-nav-icon{
    float:right;
    margin-top: 30px;
    /*altera o cursor do mouse*/
    cursor:pointer; 

    display:none;
  }

.mobile-nav-icon i{
font-size: 200%;
color: #fff;
}

.active{
    visibility: visible !important;
    opacity: 0;
}

@media only screen and (max-width: 767px){

/*Seletores criados anteriormente ou já existentes*/
nav{
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100vw !important;
}



/*Comentar a seguinte regra desta media query*/
.main-nav{
    /*Não mostra o conteúdo html deste seletor*/
   visibility: hidden;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

   transition: all 1.5s;
   opacity: 1;

   background-color: #555;
}

/*Mostra o menu responsivo, que antes estava escondido/oculto*/
.mobile-nav-icon{
    display: inline-block;
}

.main-nav li{
    /*um item por linha*/
    display: block;
  }
  
  .main-nav li a:visited,
  .main-nav li a:link{
    /*um item por linha*/
    display:block;
    border: 0;
  }

}
